.l-cols
	display: table
	width: 100%
	table-layout: fixed
	background: #fff 
	min-height: 498px
	+r(768)
		display: block
.l-col-left
	display: table-cell
	vertical-align: top
	border-left: 1px solid #fff 
	width: 242px
	background: #f8f8f8 
	box-shadow: 1px 0 2px rgba(0,0,0,.05) 
	+r(768)
		display: none
.l-col-right
	display: table-cell
	padding: 25px 45px 0 45px 
	vertical-align: top
	+r(980)
		display: block
		padding: 25px 20px 0 20px 
.l-cols_catalog
	.l-col-right
		padding: 0
	.l-col-left
		box-shadow: none 
.icon-cart
	+svg(cart,16,17) 
.icon-cart2
	display: inline-block
	+s(cart2) 

.btn
	display: inline-block
	padding: 5px 17px 4px
	color: #fff 
	font-size: 12px
	+sbold
	background: $blue 
	border-radius: 4px
	+tr(background .2s)
	&:hover
		background: $blue_h 
	&:active
		box-shadow: inset 0 1px 2px rgba(#000,.3) 
	&_height
		padding: 13px 33px 12px
.field
	display: block
	position: relative
	margin: 0 0 17px 
	&.has-icon
		.input
			padding-left: 35px
	&__title
		display: block
		margin: 0 0 4px 3px
		color: #858585
		font-size: 14px
		+reg 
	&__body
		display: block
		position: relative
		.icon
			position: absolute
			top: 0
			left: 13px
			height: 41px
			line-height: 41px
			font-size: 14px
			color: #ddd 
		a
			position: absolute
			top: 0
			left: 100%
			margin-left: 46px
			color: $blue
			font-size: 12px
			white-space: nowrap
			+sbold 
			+r(768)
				position: static
				margin: 0
			&:hover
				text-decoration: underline
				color: $blue_h 
	&__link
		display: inline-block
		margin: 10px 0 0 
		font-size: 12px
		+sbold
		color: $blue 
		+tr(color .4s)
		&:hover
			color: $blue_h 

.field_email,
.field_tel
	.icon
		font-size: 20px
.field_row
	font-size: 0
	margin: 0 0 24px 
	.field__title
		display: inline-block
		vertical-align: middle
		padding-right: 20px
		width: 26%
		font-size: 12px
		+r(480)
			display: block
			width: 100%
	.field__body
		display: inline-block
		width: 74%
		+r(480)
			display: block
			width: 100%
.field-separator
	margin: -4px 0 10px
	font-size: 16px
	color: #000
	+csbold 
.input
	display: block
	padding: 0 10px 
	width: 100%
	height: 41px
	font-size: 16px
	+reg
	color: #000 
	border-radius: 4px 
	background: #f9f9fb 
	+tr(background .4s)
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.14)
	&:focus
		background: #fff 
	&_textarea
		padding: 5px 10px
		min-height: 74px
		resize: vertical 
		border: 0
	&.is-height
		height: 104px
		resize: none
.radio-wrap
	font-size: 0
	border-top: 1px solid #e5e5e5 
	border-bottom: 1px solid #e5e5e5 
	padding: 19px 0 
	+r(768)
		border: 0
.radio
	display: inline-block
	vertical-align: top
	width: 50%
	position: relative
	cursor: pointer
	white-space: nowrap
	font-size: 0
	input
		position: absolute
		left: 0
		top: 2px
		z-index: 2
		width: 14px
		height: 14px
		opacity: 0
		&:checked
			+ span
				&:after
					display: block
	span  
		display: block
		position: relative
		margin: 0
		font-size: 16px
		color: $devil 
		white-space: normal
		padding-left: 25px
		+r(768)
			font-size: 14px
		&:before
			content: "" 
			position: absolute
			left: 0
			top: 2px
			width: 16px
			height: 16px
			border: 1px solid #bac0c7
			background: #fff
			border-radius: 50%
			box-shadow: 0 1px 1px rgba(#000,.1)
		&:after
			content: ""
			display: none 
			position: absolute
			top: 7px
			left: 5px
			width: 6px
			height: 6px
			border-radius: 50%
			background: $blue
.drop-list
	position: relative
	&__text
		display: inline-block
		position: relative
		padding: 0 14px 0 23px
		height: 40px
		line-height: 40px
		overflow: hidden
		font-size: 14px
		+csbold
		color: #000 
		text-overflow: ellipsis
		white-space: nowrap
		cursor: pointer
		+nosel
		&:after
			content: ""
			position: absolute
			top: 19px
			right: 0
			+arr(6,3,#000,b) 
	.icon
		position: absolute
		left: 0
		top: 5px
		font-size: 19px
		color: $blue 
	&__main
		position: absolute
		top: 100%
		left: 0
		+csbold
		display: none
		border-radius: 4px 
		background: #f1f2f5 
		overflow: hidden
		a
			display: block
			padding: 5px 23px 
			color: #000
			+tr(color .2s)
			&:hover
				color: $blue 
				
.link-more
	display: inline-block
	position: relative
	padding-right: 14px
	color: #fff 
	line-height: 1.4
	font-size: 12px
	+sbold 
	+tr(color .2s)
	&:hover
		color: $blue 
	.icon
		position: absolute
		top: -1px
		right: 0
.link-more_dark
	color: #000 
.btn-consult
	position: fixed
	right: 0
	top: 23px
	padding: 3px 21px 5px 18px 
	border-radius: 4px 4px 0 0
	display: inline-block
	background: #e9e9e9
	z-index: 90
	+rotate(-90)
	font-size: 14px
	line-height: 1 
	+sbold
	color: #333
	+font-smoothing
	will-change: transform
	+transform-origin(100%, 100%)
	+r(768)
		display: none
	.icon
		margin-right: 8px
		font-size: 19px
		color: $blue 
.btn-prev,
.btn-next
	width: 20px
	position: relative
	height: 20px
	background: #fff
	border-radius: 3px  
	+tr(background .4s)
	&_dark
		background: #e9e9e9 
		&:hover
			background: #b2b2b2 
	&:hover
		background: #b2b2b2 
		&:after
			opacity: 1
		&:before
			opacity: 0
	&:before,
	&:after
		content: ""
		position: absolute
		top: 50%
		left: 50%
		margin: -3px 0 0 -2px 
		will-change: opacity
		+tr(opacity .4s)
	&:after
		opacity: 0
.btn-prev
	&:before
		+s(prev-small)
	&:after
		+s(prev-small-h)
.btn-next
	&:before 
		+s(next-small)
	&:after
		+s(next-small-h)

.breadcrumbs
	a
		position: relative
		display: inline-block
		padding: 5px 0 
		margin-right: 5px
		vertical-align: middle
		font-size: 12px
		color: $gray
		+sbold 
		+tr(color .4s)
		&:hover
			color: $blue 
		&:after
			content: "/" 
			position: absolute
			right: -7px
			top: 5px
.date
	display: block
	color: $gray
	font-size: 12px
	+reg 
.title
	+ .date
		margin: 13px 0 
.load-more
	position: relative
	height: 40px
	a
		position: absolute
		left: -45px
		right: -45px
		padding: 6px 0 11px
		line-height: 1 
		color: #fff
		+sbold
		background: #005380 
		+tr(background .4s)
		text-align: center
		&:hover
			background: $blue 
		+r(980)
			left: -20px
			right: -20px
	.icon
		font-size: 21px
		position: relative
		top: 2px
	&_simple
		a
			position: static
			display: block
.link-back
	margin: 0 0 15px 
	border-bottom: 1px solid $border 
	padding-bottom: 13px
	a
		position: relative
		padding: 5px 0 0 17px
		display: inline-block
		color: $devil
		font-size: 12px
		+sbold 
		+tr(color .4s)
		&:hover
			color: $blue 
			&:before
				opacity: 0
			&:after
				opacity: 1
		&:before,
		&:after
			content: ""
			position: absolute
			top: 7px
			left: 0 
			+tr(opacity .4s)
			will-change: opacity
		&:before
			opacity: 0.8
			+s(back)
		&:after
			+s(back-h)
			opacity: 0
.number
	position: relative
	width: 90px
	&__input
		display: block
		padding: 0 25px 
		width: 100%
		height: 31px
		font-size: 14px
		text-align: center
		+sbold
		color: #000 
		border-radius: 4px 
		background: #f9f9fb 
		+tr(background .4s)
		box-shadow: inset 1px 1px 3px rgba(0,0,0,.14)
		&:focus
			background: #fff 
	&__btn
		position: absolute
		top: 0
		height: 31px
		width: 25px
		background: none
		text-align: center
		color: $blue
		font-size: 19px
		+bold
		&:before
			content: ""
			position: absolute
			top: 50%
			margin-top: -8px
			height: 16px
			width: 1px
			background: #e0e0e1  
	&__plus
		right: 0
		&:before
			left: 0
	&__minus
		left: 0
		&:before
			right: 0
		
.tabs
	margin: 0 0 15px 
	font-size: 0
	li
		display: inline-block
		margin-left: 35px
		position: relative
		&.is-active
			a
				color: $gray_d
				font-size: 30px
				+light
				border: 0 
			&:before
				top: 9px
		&:first-child
			margin-left: 0
			&:before
				display: none
		&:before
			content: ""
			position: absolute
			left: -21px
			top: -6px
			+s(line) 
	a
		display: block
		color: $blue
		font-size: 16px
		+csbold 
		border-bottom: 2px dotted #c2daeb 
		&:hover
			border-color: transparent 

.file-btn
	margin: 0 0 24px 
	button
		position: relative
		padding-left: 28px
		font-size: 12px
		+sbold
		color: #000 
		background: none
		&:before
			content: ""
			position: absolute
			left: 0
			top: -1px
			+s(attach) 

.sort-wrap
	padding: 8px 20px 
	border-top: 1px solid #d9d9d9 
	border-bottom: 1px solid #d9d9d9 
	background: #e9e9e9 
	&__title,
	.sort
		vertical-align: middle
	&__title
		display: inline-block
		font-size: 12px
		color: $gray 
.sort
	display: inline-block
	margin-right: 11px
	position: relative
	border: 1px solid transparent
	border-radius: 4px 
	padding: 3px 25px 3px 10px 
	font-size: 12px
	color: $devil
	&:after
		content: ""
		position: absolute
		top: 9px
		right: 11px
		+arr(8,4,$gray,b) 
	&.is-active
		border-color: #8fbed8
		span
			border-color: transparent 
		&.is-top
			&:after
				+arr(8,4,$blue,t) 
		&.is-bottom
			&:after
				+arr(8,4,$blue,b) 
	&:hover
		span
			border-color: transparent 	
	span
		border-bottom: 2px solid #a3c8db

.items-wrap
	+clr
	//border-bottom: 1px solid $border  	 
.item
	position: relative
	float: left
	width: 33.3%
	height: 240px
	background: #fff
	line-height: 1.2
	border-bottom: 1px solid $border  
	border-left: 1px solid $border  
	&:nth-child(3n+1)
		border-left: 0
	&:hover,
	&.is-active
		z-index: 2
		.item__body	
			height: auto
			box-shadow: 0 0 10px rgba(#000, .5)
		.item__hidden
			opacity: 1
			visibility: visible 
	&__body
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 239px
		border-radius: 4px
		background: #fff
		//height: 239px
		+tr(box-shadow .4s) 
	&__visible
		//height: 240px
		overflow: hidden
	&__hidden
		padding: 0 18px 12px
		opacity: 0
		visibility: hidden
		will-change: opacity
	&__buy
		+clr
		margin-bottom: 20px
		.number
			float: left
		.btn_height
			float: right
			margin-left: 2px
			padding: 9px 20px 8px 11px 
		.icon-cart2
			margin: -6px 6px 0 0
			vertical-align: middle
	&__title
		display: block
		margin: 0 0 7px 
		font-size: 16px
		color: #000
		+csbold 
		+tr(color .4s)
		&:hover
			color: $blue 
	&__img
		position: relative
		height: 140px
		line-height: 140px
		overflow: hidden
		text-align: center
		img
			vertical-align: middle
			max-height: 100%
			max-width: 100%
	&__main
		padding: 14px 20px 17px
		text-align: center 
	&__price
		color: $blue
		+sbold
		font-size: 16px
		span
			color: $gray
			+reg 
	&__list
		+sbold
		color: $gray_d 
		font-size: 12px
		li
			margin-bottom: 5px
		span
			+reg
			color: $gray 
.badge
	position: absolute
	top: 7px
	right: 7px
	padding: 6px 6px 4px
	color: #fff 
	font-size: 10px
	text-transform: uppercase
	+csbold
	line-height: 1
	border-radius: 4px 
	&.is-new
		background: $blue 
	&.is-discount
		background: $green 
.option
	margin: 15px 0 
	&__title
		margin-bottom: 5px
		+reg
		color: $gray 
		font-size: 12px
	.tag
		margin-top: 4px
.color
	position: relative
	padding: 0 19px
	height: 31px
	&__item
		height: 31px
		a
			display: block
			height: 31px
			width: 31px
			border: 1px solid transparent
			padding: 2px 
			&.is-active
				border-color: $blue
		img
			height: auto
	&__nav
		position: absolute
		top: 3px
		width: 15px
		height: 25px
		background: #e9e9e9 
		overflow: visible
		+tr(background .4s)
		&:hover
			background: #b2b2b2 
		&:before
			content: ""
			position: absolute
			top: 50%
			margin-top: -3px
			left: 5px 
	&__prev
		left: 0
		&:before
			+s(prev-small)
		&:hover
			&:before
				+s(prev-small-h)
	&__next
		right: 0
		&:before
			+s(next-small)
		&:hover
			&:before
				+s(next-small-h)

.tag
	display: inline-block
	margin-right: 11px
	position: relative
	border: 1px solid transparent
	border-radius: 4px 
	padding: 3px 10px
	font-size: 12px
	color: $devil
	&.is-active
		border-color: #8fbed8
		span
			border-color: transparent 
	span
		border-bottom: 2px solid #a3c8db
	&:hover
		span
			border-color: transparent 