.main
	background: #fff
.error-page
	padding: 144px 0 238px 
	text-align: center
	line-height: 1.2
	background: url(../img/glass-bg.png) 41% 21% no-repeat
	+r(768)
		padding: 50px 0 
	strong
		display: block
		margin-bottom: -35px
		font-size: 185px
		color: $blue
		+bold 
		+r(768)
			font-size: 140px
	span
		display: block
		margin: 0 0 64px 
		color: $devil
		font-size: 20px
		+sbold 
		+r(768)
			font-size: 18px
	.btn
		padding: 5px 32px 4px 
		font-size: 14px
.sidebar
	padding: 24px 20px
	&__title
		margin-bottom: 22px
		font-size: 16px
		color: $gray_d
		+csbold
.sidebar__nav
	li
		&:first-child
			a
				border-top: 1px solid $border 
		&.is-active
			a
				color: $blue 
	a
		display: block
		padding: 12px 0
		border-bottom: 1px solid $border 
		color: $devil
		font-size: 14px
		+reg 
		+tr(color .4s)
		&:hover
			color: $blue 
.page-head
	+clr
.title
	margin: 0 0 3px 
	font-weight: normal
	font-size: 38px
	color: $gray_d
	+light 
	+ strong
		color: $blue
		font-size: 17px
		+sbold 
	&_small
		font-size: 28px
		line-height: 1 
		+creg
.article
	padding: 0 35px 20px 0
	line-height: 1.4
	font-size: 16px
	+reg
	color: $devil 
	+r(980)
		padding-right: 0
	h1,h2,h3,h4,h5,h6
		font-weight: normal
		+sbold
		color: #000 
	h2
		margin: 20px 0 4px 
		font-size: 20px
	h3
		font-size: 19px
	h4
		font-size: 18px
	h5
		font-size: 17px
	h6
		font-size: 16px
	h1
		color: $blue
		font-size: 17px
		+sbold 
	strong,
	b
		+sbold
	em,
	i
		+it
	p
		margin: 0 0 23px
		a
			display: inline-block
			border-bottom: 2px solid rgba($blue,.18) 
			color: #000
			+transition(color .4s, border .4s)
			&:hover
				color: $blue_h 
				border-bottom: 2px solid rgba($blue_h,1) 
	.slider
		margin: 16px 0 22px -25px
		+r(980)
			margin: 16px 0
		&__main,
		&__meta
			width: 695px
			+r(980)
				width: 100%
		&__meta
			padding: 0 55px 0 25px
			+r(980)
				padding-left: 0
		img
			height: auto
			width: 100%
	blockquote
		margin: 18px 0
		border-top: 2px solid #f0f0f0 
		border-bottom: 2px solid #f0f0f0 
		padding: 24px 0 20px
		color: #000
		line-height: 1.2
		img
			float: left
			margin: 0
		div
			position: relative
			padding: 11px 20px 0 30px
			overflow: hidden
			font-size: 20px
			&:before
				content: "“" 
				position: absolute
				left: 0
				top: -10px
				color: $blue
				+reg
				font-size: 64px 
		p
			position: relative
			margin-bottom: 27px
			&:after
				content: ""
				position: absolute
				bottom: -10px
				left: 0
				width: 45px 
				height: 3px
				background: $blue
		strong
			display: block
			margin: 0 0 -6px 
			font-size: 14px
			+sbold
		span
			color: $gray 
			font-size: 14px
	img
		max-width: 100%
		height: auto
		&[align="left"]
			margin: 0 30px 23px 0
			+r(768)	
				margin: 23px auto 
		&[align="right"]
			margin: 0 0 23px 30px
			+r(768)	
				margin: 23px auto 
		+r(768)	
			float: none
			display: block
	ul
		margin: 18px 0
		line-height: 1.2
		li
			position: relative
			margin-bottom: 5px
			padding-left: 30px
			&:before
				content: "" 
				position: absolute
				left: 10px
				top: 6px
				width: 4px
				border-radius: 50% 
				height: 4px
				background: $blue 
	ol
		margin: 18px 0
		counter-reset: list1
		li
			position: relative
			margin-bottom: 5px
			padding-left: 30px
			&:before
				content: ""
				position: absolute
				top: 0
				left: 10px 
				counter-increment: list1 
				content: counter(list1) ". "
				color: $blue 
			ol
				margin: 10px
				counter-reset: list2
			li
				padding-left: 30px
				&:before
					content: "" 
					position: absolute
					left: 0
					top: 0
					counter-increment: list2
					content: counter(list1) "." counter(list2) ". "
.slider
	&__main
		margin-bottom: 7px
	&__meta
		position: relative
		+clr
	&__counter
		display: inline-block
		margin-right: 20px
		color: $blue
		font-size: 12px
		+sbold
	&__label
		font-size: 14px
		color: $gray 
	&__nav
		position: absolute
		top: 0
		right: 0
.carousel
	margin: 0 0 22px 
	&__head
		margin-bottom: 12px
		+clr
	&__title
		float: left
		margin-right: 100px
		font-size: 20px
		+sbold
	&__nav
		float: right
		margin-right: -62px
		+r(980)
			margin-right: 0
	.slick-slide
		text-align: center
		a
			display: block
			color: $devil
			font-size: 14px
			line-height: 1 
			letter-spacing: 0.1px 
			&:hover
				span
					opacity: 1
				img
					opacity: 1
					+gray-zero
		span
			opacity: 0
			will-change: opacity
			+tr(opacity .4s)
		img
			+gray
			margin: 0 auto 18px
			opacity: 0.4
			+transition(opacity .4s, filter .4s)
			will-change: opacity, filter

.form
	padding: 0 0 30px 
	&__action
		margin-top: 28px
	.field
		width: 310px
		+r(768)
			width: 100%
	.btn
		+r(768)
			display: block
			text-align: center
			width: 100%
.post
	margin: 14px 0 0 
	border-top: 1px solid $border
	padding: 18px 0 0  
	+clr
	line-height: 1.3
	&:hover
		.btn
			opacity: 1
			visibility: visible
	+ .load-more
		margin-top: 40px
	&:first-child
		border: 0
		margin-top: 0
	&__media
		float: left
		margin-right: 14px
		width: 144px
		+r(480)
			width: 100%
			float: none
			margin: 0 0 20px 
			text-align: center
		.btn
			display: block
			margin: 12px 0 0 
			padding: 7px 5px 6px 
			font-size: 14px
			+creg
			opacity: 0
			text-align: center
			+tr(opacity .4s)
			visibility: hidden
			will-change: opacity
	&__img
		display: block
		img
			max-width: 100%
			height: auto
			+r(480)
				width: 100%
	&__main
		overflow: hidden
		position: relative
		top: -3px
	&__title
		display: inline-block
		margin-bottom: 9px
		line-height: 1.2
		color: $dark
		font-size: 16px
		+csbold
		+tr(color .4s)
		&:hover
			color: $blue 
	&__text
		color: $gray
		font-size: 14px
	.date
		margin-bottom: 5px
		
.map
	width: 698px
	margin: 10px 0 25px -25px	
	+r(980)
		margin-left: 0
		width: 100%
	&__body
		height: 485px
		+r(768)
			height: 320px
		+r(480)
			height: 200px
	.window
		display: block
		+r(768)
			display: none
.window
	padding: 10px 8px 30px
	font-size: 14px
	color: $devil
	line-height: 1.45
	+reg
	background: #fff 
	display: none
	+r(768)
		display: block
	span
		+sbold
		color: #000
	a
		color: #000
		+tr(color .4s)
		&:hover
			color: $blue
	.btn
		margin: 15px 0 0 19px 
		color: #fff
		+r(768)
			margin-left: 0
		&:hover
			color: #fff 
	&__title
		font-size: 17px
		+sbold
		color: $blue 
	&__depart
		color: $gray 
	&__address
		margin: 12px 0 
.table-wrap
	position: relative
	margin: 20px 0 7px 
	+r(980)
		&:after
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			width: 10px
			z-index: 2
			+gh(rgba(#fff,0), rgba(#fff,1)) 
	&__body
		padding: 0 0 10px
		overflow-x: auto
		overflow-y: hidden

.table
	position: relative
	font-size: 14px
	color: $gray_d
	+reg 
	thead,tfoot
		text-align: left
		background: #f5f5f5 
	th, td
		border-top: 1px solid #eee 
		border-bottom: 1px solid #eee 
		border-right: 1px solid #eee  
		vertical-align: top
		&:first-child
			border-left: 1px solid #eee  
	th
		padding: 5px 14px
		border-top: 2px solid #eee
		color: $devil
		font-size: 12px
		+sbold
		font-weight: normal 
	td
		padding: 15px 14px
	tbody
		tr
			position: relative
			&:hover
				td
					position: relative
					z-index: 2
					&:first-child
						border-left: 1px solid #d7eeff
						box-shadow: inset 1px 0 #d7eeff
					&:last-child
						border-right: 2px solid #d7eeff
						//box-shadow: inset -1px 0 #d7eeff
					&:after,
					&:before
						content: ""
						position: absolute
						right: -1px
						left: -1px
						height: 2px
						background: #d7eeff 
					&:before
						top: -1px
					&:after
						bottom: -1px
				.table__total
					.icon
						right: -8px

				

	tfoot
		td
			border: 0
			&:first-child
				border-left: 1px solid #eee
			&:last-child
				border-right: 1px solid #eee  
	&__prod
		white-space: nowrap
		span, a
			display: inline-block
			vertical-align: top
			white-space: normal
			+tr(color .4s)
		span
			font-size: 14px
		a
			&:hover
				color: $blue 
	&__img
		width: 80px
		text-align: center
	&__title
		width: 120px
		color: #000
		+csbold 
	&__total,
	&__mass
		white-space: nowrap
	&__price
		color: $gray 
		span
			white-space: nowrap
			color: $blue
			font-size: 14px
			+sbold
			display: block 
	&__total
		position: relative
		font-size: 16px
		+sbold
		color: $blue
		.icon
			position: absolute
			top: -10px
			right: -7px
			color: #ccc
			font-size: 15px 
			cursor: pointer
			+tr(color .4s)
			&:hover
				color: #f00 
		&.is-small
			font-size: 12px
	&__mass
		span
			color: $blue
			font-size: 16px
			+sbold
	&__total-title
		white-space: nowrap
	
.table_cart
	td
		min-height: 110px
		&:nth-child(4)
			width: 120px
	tfoot
		color: $devil 
		td
			padding: 8px 14px 
			&:nth-child(2)
				padding-left: 0
				text-align: right
				padding-right: 5px

.table-action
	text-align: right
	padding-bottom: 52px 