.main-slider
	position: relative
	z-index: 1
	margin-top: -146px
	min-height: 525px
	overflow: hidden
	max-height: 744px
	width: 100%
	+r(980)
		margin: 0
		height: 525px
	+r(768)
		height: auto
		min-height: 120px
		background: $blue 
	img
		margin: 0 auto 
	.slick-dots
		bottom: 267px
		+r(980)
			bottom: 201px
		+r(768)
			bottom: 28px
	&__title
		position: absolute
		z-index: 2
		top: 188px
		left: 50%
		margin-left: -490px
		width: 980px
		font-size: 46px
		color: #fff
		line-height: 1
		+light 
		+r(980)
			left: 0
			top: 83px
			margin: 0
			padding: 0 9.5% 
			width: 100%
			font-size: 39px
		+r(768)
			top: 62px
			font-size: 26px
			padding: 0 20px
			text-align: center 
	&__item
		max-height: 744px
		img
			+transform(translateY(-25%))
			+r(900)
				+transform(translateY(0))
		&:after
			content: ""
			display: none
			position: absolute
			top: 0
			right: 0
			left: 0
			bottom: 0
			+g(rgba(#000,.5), rgba(#000,0)) 
			+r(768)
				display: block

.menu
	position: relative
	z-index: 2
	+clr 
	font-size: 14px
	margin-top: -230px
	height: 40px
	line-height: 40px
	+r(980)
		margin-top: -120px
	+r(768)
		height: auto
		line-height: 1.2
		margin-top: -10px
		text-transform: capitalize
	li
		float: left
		position: relative
	&__link
		background: #333
		+r(768)
			width: 33.3%
		&:before
			content: ""
			position: absolute
			top: 50%
			left: -1px
			margin-top: -8px 
			height: 16px
			width: 1px
			background: #484848 
		&:first-child
			&:before
				display: none
		&:nth-child(3)
			padding-right: 24px
		a
			color: #fff 
	&__action
		background: #fff 
		&:nth-child(4)
			+r(768)
				&:before
					display: none
		+r(768)
			width: 50%
		&:before
			content: ""
			position: absolute
			top: 0
			left: -20px
			+arr(20,40,#fff,tr) 
			+r(768)
				top: 50%
				margin-top: -8px
				left: 0
				border: 0
				width: 1px
				height: 16px
				background: #e9e9e9 
				
		&:after
			content: ""
			position: absolute
			top: 0
			right: -20px
			+arr(40,20,#fff,bl) 
			+r(980)
				display: none
		a
			color: #000 
		span
			color: $blue
			+r(768)
				text-transform: lowercase
		.icon-file
			display: inline-block
			position: relative
			top: 2px
			margin-right: 7px
			+s(file)
		em
			font-style: normal
			+r(768)
				display: none
	a
		display: block
		padding: 0 21px 
		+tr(color .4s)
		+r(768)
			padding: 0
			height: 40px
			line-height: 40px
			text-align: center
		&:hover
			color: $blue 
.menu-wrap
	background: #252525 
	+clr
	.menu
		+clr
		margin: 0
		height: 46px
		line-height: 46px
		float: left
		+r(640)
			float: none
		&__link
			background: none
			+r(768)
				width: auto
			+r(640)
				width: 33.3%
			a
				+r(768)
					padding: 0 10px
					height: 46px
					line-height: 46px
.menu-wrap__btn
	float: right
	padding: 8px 8px 0 0
	+r(640)
		float: none
		padding: 8px 8px 16px
		text-align: center
				
	.btn
		padding: 4px 17px 7px 6px
		+reg
		line-height: 1
		display: inline-block
		+r(640)
			width: 45%	
		&:hover
			color: #fff 
	em
		font-style: normal
	.icon-file
		position: relative
		top: 3px
		+s(file2)
		margin: 0 11px 0 0 
		display: inline-block 
.cat-nav-wrap
	position: relative
	margin: 0 0 22px 
	z-index: 10
	border-top: 1px solid #fff
	border-bottom: 1px solid #fff
	margin-left: -110px
	width: 1200px
	+clr
	background: $blue 
	+r(1200)
		width: 100%
		margin: 0
	+r(980)
		border-bottom: 0 
	+r(768)
		border-top: 1px solid #fff
.cat-nav-wrap_mod
	margin: 0
	position: relative
	width: 100%	
	border-color: #565656
	border-bottom: 0
.cat-nav-parent
	float: left
	width: 16.66%
	border-left: 1px solid #565656
	&:first-child
		border-left: 0
		// +r(980)
		// 	width: 33.3%
		// +r(768)
		// 	width: 50%
	&:nth-child(4)
		+r(980)
			border-left: 0
		+r(768)
			border-left: 1px solid #565656
	&:nth-child(2n+1)
		+r(768)
			border-left: 0
	+r(980)
		width: 33%
		border-bottom: 1px solid #565656
		
	+r(768)
		width: 50%
	&:nth-child(3n+1)
		+r(980)
			width: 34%
		+r(768)
			width: 50%
	&:hover
		.cat-nav__drop
			opacity: 1
			visibility: visible 
	&.has-drop
		&:hover
			.cat-nav
				&:after
					opacity: 1
					visibility: visible
		.cat-nav
			&:after
				content: ""
				position: absolute
				bottom: 0
				left: 50%
				z-index: 2
				margin-left: -7px
				+arr(14,7,#fff,t) 
				visibility: hidden
				opacity: 0
				will-change: opacity
				+tr(opacity .4s)
				+r(980)
					display: none
	.cat-nav
		position: relative
		float: none
		width: 100%
		display: block
		border: 0 !important
		+r(980)
			display: table
		+r(768)
			display: block
.cat-nav
	float: left
	border-left: 1px solid #fff
	padding: 0 10px 
	height: 200px
	//width: 16.5%
	width: 16.66%
	background: $blue
	text-align: center
	line-height: 1 
	color: #fff
	+tr(background .4s)
	text-align: center
	+r(980)
		display: table 
		width: 33.33%
		height: 110px
		line-height: 110px
		text-align: left
		border-bottom: 1px solid #fff
	+r(768)
		display: block
		height: 140px
		width: 50%
		line-height: 1
		text-align: center
	&:hover
		background: $blue_h
	&:first-child
		border-left: 0
		// +r(980)
		// 	width: 33.3%
		// +r(768)
		// 	width: 50%
	&:nth-child(4)
		+r(980)
			border-left: 0
		+r(768)
			border-left: 1px solid #fff 
	&:nth-child(2n+1)
		+r(768)
			border-left: 0

	&__drop
		position: absolute
		z-index: 1
		left: 0
		right: 0
		top: 100%
		padding: 30px 20px
		background: #fff
		text-align: left
		visibility: hidden
		opacity: 0
		will-change: opacity
		+tr(opacity .4s)
		max-height: 250px
		overflow-y: auto
		box-shadow: 0 2px 10px rgba(#000, .1) 
		+r(768)
			display: none
		.banner
			width: 200px
			float: right
			line-height: 1.2
	&__left
		float: left
		width: 720px
		padding-left: 10px
	&__col
		float: left
		padding-right: 10px
		width: 33.3%
		li
			line-height: 1.6
			a
				display: inline-block
				position: relative
				padding-left: 22px
				font-size: 12px
				+sbold
				color: $devil 
				+tr(color .4s)
				&:hover
					color: $blue 
				&:before
					content: ""
					position: absolute
					left: 0
					top: 8px
					width: 10px
					height: 2px
					background: #bfdeee  
		ul
			+ .cat-nav__group
				margin-top: 15px
					
	&__group
		font-size: 14px
		min-height: 18px
		line-height: 1.3
		+sbold
		color: $gray_d 
		
	&__right
		overflow: hidden
		+clr
	&__img
		display: block
		height: 112px
		margin-bottom: -8px
		line-height: 112px
		+r(1200)
			height: 90px
			margin: 0
			line-height: 90px
		+r(980)
			float: none
			display: table-cell
			vertical-align: middle
			width: 95px
			height: auto
			margin: 0
			line-height: 1
			text-align: center
		+r(768)
			display: block
			height: 75px
			width: 100%
			line-height: 75px
		img,
		object
			vertical-align: middle
			+r(980)
				max-width: 52px
			+r(768)
				max-height: 42px
	&__title
		display: block
		margin-bottom: 10px
		font-size: 16px
		+csbold
		line-height: 1
		+r(980)
			display: table-cell
			vertical-align: middle
		+r(768)
			display: block
	&__text
		display: block
		opacity: 0.67
		font-size: 14px
		+reg
		line-height: 1
		+r(980)
			display: none
.cat-nav_dark
	background: $gray_d
	border-color: #565656 
	&.is-active
		background: #009d59 
	&:nth-child(4)
		border-color: #565656
	.cat-nav__title
		font-size: 13px
	.cat-nav__text
		font-size: 12px
.banners-slider
	+clr
	height: 190px
	+r(980)
		padding: 0 15px 
	+r(768)
		padding: 0
		height: 142px
	.slick-slide
		height: 190px
		+r(768)
			padding: 0
			height: 142px
		&:first-child
			.banner
				padding-left: 0
.banner
	position: relative
	height: 190px
	display: block
	overflow: hidden
	+r(768)
		height: 142px
	img
		display: block
		width: auto
		height: 100%
		+r(768)
			height: auto
			width: 100%
		+r(480)
			height: 100%
			width: auto
	span
		display: block
	&__info
		position: absolute
		left: 46px
		right: 10px
		bottom: 37px
		color: #fff
		font-size: 18px
		+sbold 
		+r(768)
			bottom: 18px
			left: 30px
			font-size: 16px
	&__title
		margin-bottom: 9px
		font-size: 38px
		color: $yellow
		+light 
		line-height: 1.2
		+r(768)
			margin-bottom: 0
			font-size: 34px
	&__price
		font-size: 27px
		+r(768)
			font-size: 24px
.banner_small
	.banner__title
		font-size: 30px
	.banner__info
		left: 20px
		font-size: 16px
		color: #e9e9e9 
.post-item-slider
	position: relative
	background: #005380 
	padding: 25px 0 31px
	+r(980)
		padding: 25px 15px 31px
	+r(640)
		padding-bottom: 50px
	.l-center
		+clr
	.slick-dots
		height: 38px
		line-height: 38px
		bottom: -50px
		left: -15px
		right: -15px
		background: rgba(#000,.15) 
		li
			vertical-align: middle
.post-item
	//float: left
	position: relative
	//padding-left: 1px
	//width: 33.3%
	line-height: 1.2
	overflow: hidden
	color: #fff 
	&:first-child
		padding-left: 0
	&__img
		margin-bottom: 18px
		height: 129px
		+r(980)
			height: auto
		a
			display: block
		img
			display: block
			margin: 0 auto 
			width: auto
			height: 100%
			+r(980)
				height: auto
				width: 100%
	&__title
		display: inline-block
		margin: 0 0 24px
		padding-right: 20px 
		font-size: 16px
		color: #fff
		+csbold
	&__text
		padding-right: 20px 
		font-size: 14px
		opacity: 0.67

.clients
	position: relative
	padding: 0 70px 0 130px
	background: #e9e9e9 
	+r(768)
		padding: 20px 0 0
		
	&__title
		position: absolute
		left: 0
		top: 0
		bottom: 0
		line-height: 100px
		font-size: 16px
		+csbold
		color: $devil 
		+r(980)
			left: 15px
		+r(768)
			position: static
			float: left
			padding-left: 20px
			height: auto
			line-height: 1
	&__nav
		position: absolute
		top: 50%
		right: 0
		margin-top: -10px
		+r(980)
			right: 15px
		+r(768)
			position: static
			padding-right: 20px
			float: right
			margin: 0
	.slick-slider
		clear: both
	.slick-slide
		height: 100px
		line-height: 100px
		a
			display: inline-block
			width: 100%
			vertical-align: middle
		img
			margin: 0 auto 